@model IEnumerable<ForensicBones100.Models.InventarioCranio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Frontal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FrontalDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ocipital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OcipitalDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Esfenoide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsfenoideDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maxilar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxilarDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vomer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VomerDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParietalEsquerdo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParietalEsquerdoDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemporalEsquerdo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemporalEsquerdoDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConchaNasalInferiorEsquerda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConchaNasalInferiorEsquerdaDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etmoide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EtmoideDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LacrimalEsquerdo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LacrimalEsquerdoDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NasalEsquerdo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NasalEsquerdoDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZigomaticoEsquerdo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZigomaticoEsquerdoDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParietalDireito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParietalDireitoDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemporalDireito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemporalDireitoDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConchaNasalInferiorDireita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConchaNasalInferiorDireitaDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LacrimalDireito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LacrimalDireitoDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NasalDireito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NasalDireitoDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZigomaticoDireito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZigomaticoDireitoDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hioide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HioideDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartilagemTireoide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CartilagemTireoideDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mandibula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MandibulaDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotosCranio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventarioEsqueleto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Frontal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrontalDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ocipital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OcipitalDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Esfenoide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsfenoideDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maxilar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxilarDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VomerDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParietalEsquerdo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParietalEsquerdoDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemporalEsquerdo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemporalEsquerdoDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConchaNasalInferiorEsquerda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConchaNasalInferiorEsquerdaDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etmoide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EtmoideDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LacrimalEsquerdo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LacrimalEsquerdoDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NasalEsquerdo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NasalEsquerdoDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZigomaticoEsquerdo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZigomaticoEsquerdoDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParietalDireito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParietalDireitoDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemporalDireito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemporalDireitoDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConchaNasalInferiorDireita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConchaNasalInferiorDireitaDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LacrimalDireito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LacrimalDireitoDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NasalDireito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NasalDireitoDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZigomaticoDireito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZigomaticoDireitoDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hioide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HioideDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CartilagemTireoide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CartilagemTireoideDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mandibula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MandibulaDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FotosCranio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventarioEsqueleto.InventarioEsqueletoId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InventarioCranioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InventarioCranioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InventarioCranioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
